.Logo {
    height: 71px;
    width: 46px;
    margin-right: 600px;
}
.me-auto1 {
    margin-left:79%;
    Width:438px;
    height: 42px;
    Top: 69px;
}
.menu:hover{
    text-decoration: underline;
    color: #D7F03A;
}
